# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = '../data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [3]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [5]:
"""
Your Code Here
"""
weekdays = ["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY"]
for weekday in weekdays:
    sub_train[weekday] = sub_train.WEEKDAY_APPR_PROCESS_START.apply(lambda x: 1 if x==weekday else 0)

In [6]:
print(sub_train.shape)
print(sub_train.head)

(307511, 6)
<bound method NDFrame.head of        WEEKDAY_APPR_PROCESS_START  MONDAY  TUESDAY  WEDNESDAY  THURSDAY  \
0                       WEDNESDAY       0        0          1         0
1                          MONDAY       1        0          0         0
2                          MONDAY       1        0          0         0
3                       WEDNESDAY       0        0          1         0
4                        THURSDAY       0        0          0         1
5                       WEDNESDAY       0        0          1         0
6                          SUNDAY       0        0          0         0
7                          MONDAY       1        0          0         0
8                       WEDNESDAY       0        0          1         0
9                        THURSDAY       0        0          0         1
10                       SATURDAY       0        0          0         0
11                         FRIDAY       0        0          0         0
12                         FRIDAY       0        0          0         0
13                       THURSDAY       0        0          0         1
14                         MONDAY       1        0          0         0
15                       SATURDAY       0        0          0         0
16                       THURSDAY       0        0          0         1
17                         MONDAY       1        0          0         0
18                         FRIDAY       0        0          0         0
19                         MONDAY       1        0          0         0
20                         FRIDAY       0        0          0         0
21                         MONDAY       1        0          0         0
22                       THURSDAY       0        0          0         1
23                         FRIDAY       0        0          0         0
24                       THURSDAY       0        0          0         1
25                       SATURDAY       0        0          0         0
26                         MONDAY       1        0          0         0
27                       SATURDAY       0        0          0         0
28                      WEDNESDAY       0        0          1         0
29                        TUESDAY       0        1          0         0
...                           ...     ...      ...        ...       ...
307481                     FRIDAY       0        0          0         0
307482                   THURSDAY       0        0          0         1
307483                     MONDAY       1        0          0         0
307484                     MONDAY       1        0          0         0
307485                   SATURDAY       0        0          0         0
307486                   SATURDAY       0        0          0         0
307487                  WEDNESDAY       0        0          1         0
307488                  WEDNESDAY       0        0          1         0
307489                     FRIDAY       0        0          0         0
307490                   SATURDAY       0        0          0         0
307491                   SATURDAY       0        0          0         0
307492                     FRIDAY       0        0          0         0
307493                     MONDAY       1        0          0         0
307494                     MONDAY       1        0          0         0
307495                  WEDNESDAY       0        0          1         0
307496                   THURSDAY       0        0          0         1
307497                   THURSDAY       0        0          0         1
307498                     MONDAY       1        0          0         0
307499                    TUESDAY       0        1          0         0
307500                     FRIDAY       0        0          0         0
307501                  WEDNESDAY       0        0          1         0
307502                     MONDAY       1        0          0         0
307503                   SATURDAY       0        0          0         0
307504                  WEDNESDAY       0        0          1         0
307505                     MONDAY       1        0          0         0
307506                   THURSDAY       0        0          0         1
307507                     MONDAY       1        0          0         0
307508                   THURSDAY       0        0          0         1
307509                  WEDNESDAY       0        0          1         0
307510                   THURSDAY       0        0          0         1

        FRIDAY
0            0
1            0
2            0
3            0
4            0
5            0
6            0
7            0
8            0
9            0
10           0
11           1
12           1
13           0
14           0
15           0
16           0
17           0
18           1
19           0
20           1
21           0
22           0
23           1
24           0
25           0
26           0
27           0
28           0
29           0
...        ...
307481       1
307482       0
307483       0
307484       0
307485       0
307486       0
307487       0
307488       0
307489       1
307490       0
307491       0
307492       1
307493       0
307494       0
307495       0
307496       0
307497       0
307498       0
307499       0
307500       1
307501       0
307502       0
307503       0
307504       0
307505       0
307506       0
307507       0
307508       0
307509       0
307510       0

[307511 rows x 6 columns]>